.custom-button {
    font-size: var(--font-m);
    background-color: transparent;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 10rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-secondary);
    }
}

.btn-small {
    font-size: var(--font-s);
    padding: .7rem 1.5rem;
}