.custom-button {
    font-size: var(--font-m);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 10rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    
    &:hover {
        color: var(--color-white);
        background-color: var(--color-secondary);
    }
}

.btn-small {
    font-size: var(--font-s);
    padding: .7rem 1.5rem;
}

.navi-btn {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    font-size: 3.5rem;
    padding: 1rem 2rem;

    &:hover {
        background-color: var(--color-primary);
    }
}