.project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;

    @media only screen and (max-width: 900px) {
        margin: 0 2rem;
    }

    @media only screen and (max-width: 700px) {
        column-gap: 0;
    }

    @media only screen and (max-width: 568px) {
        row-gap: 3rem;
    }

    &:not(:last-child) {
        margin-bottom: 15rem;
    }

    &__img-container {
        grid-column: 2 / span 5;
        opacity: 0.5;
        cursor: pointer;
        transition: all .4s;

        &:hover {
            opacity: 1;
        }

        @media only screen and (max-width: 900px) {
            grid-column: 1 / span 6;
        }

        @media only screen and (max-width: 768px) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            opacity: 0.15;
            pointer-events: none;
        }

        @media only screen and (max-width: 568px) {
            opacity: 0.5;
            grid-row: 2 / 3;   
        }
    }

    &__img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        background-position: center;   
    }

    &__content {
        grid-column: 7 / span 5;

        @media only screen and (max-width: 900px) {
            grid-column: 7 / span 6;
        }

        @media only screen and (max-width: 768px) {
            grid-column: 2 / span 10;
            grid-row: 1 / 2;
        }

        @media only screen and (max-width: 568px) {
            grid-column: 1 / -1;
           
        }
    }

    &__text {
        font-size: var(--font-s);
        color: var(--color-secondary);
    }

    &__title {
        font-weight: 600;
        margin-top: .5rem;
    }

    &__description {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    &__tech-list {
       font-size: var(--font-s);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        line-height: 3rem;
    }

    &__tech-item {
        
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    &__links {
        display: flex;
        margin-top: 2rem;

        & a {
            align-self: flex-start;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}

.reverse-content {
    grid-column: 2 / span 5;
    grid-row: 1 / 2;

    @media only screen and (max-width: 900px) {
        grid-column: 1 / span 6;
    }

    @media only screen and (max-width: 768px) {
        grid-column: 2 / span 10;
        grid-row: 1 / 2;
    }

    @media only screen and (max-width: 568px) {
        grid-column: 1 / -1;
        
    }
}

.reverse-img {
    grid-column: 7 / span 5;
    grid-row: 1 / 2;

    @media only screen and (max-width: 900px) {
        grid-column: 7 / span 6;
    }

    @media only screen and (max-width: 768px) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        opacity: 0.15;
        pointer-events: none;
    }

    @media only screen and (max-width: 568px) {
        grid-row: 2 / 3;
        opacity: 0.5;
    }
}

