.navigation {

    &__button {
        position: fixed;
        top: 2.5rem;
        right: 4.5rem;
        z-index: 2000;
        width: 5rem;
        height: 5rem;
        display: none;

        @media only screen and (max-width: 700px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-icon {
            height: 3px;
            width: 3.5rem;
            background-color: var(--color-secondary);
            position: relative;

            &::before,
            &::after {
                position: absolute;
                left: 0;
                content: '';
                height: 3px;
                width: 3.5rem;
                background-color: var(--color-secondary);
                transition: all .3s ease-out;
            }

            &::before {
                transform: translateY(-1rem);
            }

            &::after {
                transform: translateY(1rem);
            }
        }
    }

    &__background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-secondary);
        z-index: 1000;
        opacity: 0;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
    }

    &__menu-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 1500;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .5s .1s ease-in-out;
    }

    &__menu {
        list-style: none;
        font-size: 5rem;
        text-align: center;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__link {

    }
}

.navigation-active {

    &  .navigation__background,
    & .navigation__menu-container {
        opacity: 1;
        transform: translateX(0);
    }

    & .navigation__button-icon {
        background-color: transparent;
        
        &::before {
            transform: rotate(45deg);
            background-color: var(--color-white);
        }

        &::after {
            transform: rotate(-45deg);
            background-color: var(--color-white);
        }
    }
}