.contact {
    height: 95vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    @media only screen and (max-width: 1100px) {
        margin: 0 3rem;
        column-gap: 5rem;
        height: auto;
    }

    @media only screen and (max-width: 800px) {
        margin: 0;
        column-gap: 0;
        height: 95vh;
    }

    @media only screen and (max-width: 400px) {
        margin-bottom: 5rem;
    }

    &__content {
        grid-column: 2 / span 5;

        @media only screen and (max-width: 1100px) {
            grid-column: 2 / span 5;
        }

        @media only screen and (max-width: 800px) {
            grid-column: 2 / span 10;
        }

        .content {
        
            &__heading {
                
            }

            &__text {
                margin: 3rem 0;
            }

            &__group {

                &--1 {
                    margin-bottom: 5rem;
                }
                 
                .group {

                    &__heading {
                        margin-bottom: .7rem;
                    }

                    &__text {

                    }
                }
            }
        }
    }

    &__img {
        grid-column: 8 / span 5;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1100px) {
            justify-content: flex-start;
            grid-column: 7 / span 6;
        }

        @media only screen and (max-width: 800px) {
            grid-column: 2 / span 10;
            justify-content: center;
            margin-top: -25rem;          
        }

        @media only screen and (max-width: 400px) {
            grid-column: 1 / -1;
            margin-top: -5rem;
        }

        .img__svg {
            width: 80%;
            height: 50%;
        }
    }
}

