.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2rem 5rem;


    &__logo {
        width: 5rem;
        height: 5rem;
        background-color: var(--color-primary);
        
        
    }

    &__menu {
        margin-left: auto;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: var(--font-m);
    }

    &__item {
        text-transform: uppercase;
        &:not(:last-child) {
            
            margin-right: 3rem;
        }

    }

}