.project-section {
    margin: 10rem 0;
    width: 100%;

    @media only screen and (max-width: 1100px) {
        margin: 20rem 0;
    }
  
    &__heading {
        margin-bottom: 10rem;
        text-align: center;
    }
}